/* Destinations */
.destinations {
    padding: 50px;
    text-align: center;
    background-color: #f9f9f9;
  }
  
  .destinations h1 {
    font-size: 50px;
    margin-bottom: 20px;
    position: relative;
    right:573px;
    top: 10px;
  }
  
  .destination-content p1 {
    font-size: 1.2rem;
    margin: 10px 0;
    position: relative;
    right:10px;
  }
  .destination-content p2 {
    font-size: 1.2rem;
    margin: 10px 0;
    position: relative;
    color: black;
    top:23px;
    right:365px;
  }
  .destination-content p3 {
    font-size: 1.2rem;
    margin: 10px 0;
    color: black;
    position: relative;
    top:48px;
    right:714px;
  }
  .destination-content p4 {
    font-size: 1.2rem;
    margin: 10px 0;
    color:black;
    position: relative;
    right:580px;
    bottom: 0px;
  }
  .destination-content p5 {
    font-size: 1.2rem;
    margin: 10px 0;
    color: black;
    position: relative;
    right:940px;
    top:25px;
  }
  
  
  .destination-content a {
    color: black;
    font-weight: bold;
    margin-top: 20px;
    display: inline-block;
    position: relative;
    left: 200px;
    bottom:42px;
  }
  