/* Destinations */
.destinations {
    padding: 50px;
    text-align: center;
    background-color: #ffffff;
  }
  
  .destinations h1 {
    font-size: 35px;
    margin-bottom: 20px;
    position: relative;
    right:565px;
    top: 10px;
  }
  
  .destination-content p1 {
    font-size: 11px;
    margin: 10px 0;
    position: relative;
    color: black;
    right:173px;
    bottom: 25px;
  }
  .destination-content p2 {
    font-size: 11px;
    margin: 10px 0;
    position: relative;
    color: black;
    bottom:10px;
    right:376px;
  }
  .destination-content p3 {
    font-size: 11px;
    margin: 10px 0;
    color: black;
    position: relative;
    top:3px;
    right:577px;
  }
  .destination-content p4 {
    font-size: 11px;
    margin: 10px 0;
    color:black;
    position: relative;
    right:470px;
    bottom: 26px;
  }
  .destination-content p5 {
    font-size: 11px;
    margin: 10px 0;
    color: black;
    position: relative;
    right:677px;
    bottom:10px;
  }
  
  
  .destination-content a {
    color: black;
    font-weight: bold;
    margin-top: 20px;
    display: inline-block;
    position: relative;
    right: 160px;
    bottom:42px;
    font-size: 16px;
  }
  