/* Header.css */

/* General header styling */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 10;
}
  
  /* Logo styling */
  .logo {
    font-size: 16px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    position: relative;
    left:160px;
  }
  
  /* Navbar styling */
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 34px;
    padding: 0;
    margin: 0;
    position: relative;
    right:10px;
  }
  
  .navbar ul li a {
    color: black;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s;

  }
  
  .navbar ul li a:hover {
    color:#00c74a;; /* React blue */
  }
  
  
    
.sign-in-btn {
    padding: 10px 20px;
    background-color: #00c74a;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    position: relative;
    right:450px;
  }
  
  
  .sign-in-btn:hover {
    background-color: #21a1f1;
  }
  