.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: black;
    border-radius: 29px;
    position: relative;
    left:95px;
    top:40px;
    height: 500px;
    width: 1100px;
  }
  
 
  
  .hero h1 {
    font-size: 43px;
    color: white;
   
  }
  .hero h2 {
    font-size: 50px;
    position: relative;
    bottom: 47px;
    color: white;
   
  }
  
  .hero a {
    font-size: 16px;
    position:relative;
    bottom:76px;
    color: white;
    font-weight: normal;
  }
  .hero b {
    font-size: 16px;
    position:relative;
    bottom:53px;
    color: white;
    font-weight: normal;
    right:290px;
  }
   .hero h3 {
    font-size: 16px;
    position:relative;
    bottom:64px;
    color: white;
    font-weight: normal;
    right: 0px;
  }
  .hero h4 {
    font-size: 16px;
    position:relative;
    bottom:83px;
    color: white;
    right:0px;
    font-weight: normal;
  }
  
  .cta-buttons button {
    margin-right: 15px;
    padding: 10px 20px;
    border: none;

    cursor: pointer;
  }
  
  .get-app-btn {
    background-color: #00c74a;
    color: black;
    border-radius: 100px;
    position: relative;
    bottom: 80px;
    width: 180px;
  }
  
  .more-btn {
    background-color: black;
    color: #ffffff;
    position: relative;
    bottom:80px;
    
  }
  
  .stats {
    margin-top: 20px;
  }
  .stats j{
    position: relative;
    color: white;
    font-size: 30px;
    left:5px;
    bottom: 40px;

  }

  .stats f{
    position: relative;
    bottom:15px;
    right:38px;
    color: white;
    font-size: 13px;

  }
  .stats k{
    position: relative;
    right:0px;
    bottom: 40px;
    color: white;
    font-size: 30px;

  }
  .stats r{
    position: relative;
    bottom:15px;
    right:80px;
    color: white;
    font-size: 13px;

  }


  
  .hero-image img {
    width: 440px;
    border-radius: 15px;
    position: relative;
    right:36px;
    top:24px;
  }

  .hero-content{
    position:relative;
    bottom: 50px;
    left:100px;
  }